.textContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.textContent p {
  line-height: 1.5rem;
}

.textContent li span {
  font-weight: var(--fw-700);
  font-size: clamp(1.75rem 5wv 1rem);
}
