.vans {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.filtersWrapper {
  width: 100%;
  display: flex;
  margin-top: var(--base-m);
  gap: var(--base-gap);
  align-items: center;
}
.filtersWrapper > a {
  color: var(--txt-main-color);
  background: var(--primary-bg-clr);
}

a[aria-current='page'] {
  text-decoration: none;
  background: transparent;
}

a[aria-current='page']:hover {
  transform: scale(1.025);
  text-underline-offset: 0.2em;
  text-decoration: underline 0.15em;
}
.catalogBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875rem;
  margin-top: var(--base-m);
}
