.navContainer {
  display: flex;
  justify-content: space-between;
  height: var(--header-footer-height);
  padding-inline: var(--base-inline-p);
}

.logoImg {
  display: block;
  width: 8rem;
}

.listOfLinks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coupledLinks {
  gap: 1em;
  display: flex;
  justify-content: space-between;
}
