.link {
  color: var(--txt-main-clr);
  text-underline-offset: 0.2em;
  text-decoration: underline 0.15em;
  text-decoration-color: transparent;
  transition: all 200ms ease-in-out;
}

.link:hover {
  transform: scale(1.025);
  color: var(--accent-clr-first);
  text-decoration-color: var(--accent-clr-first);
}
