.link {
  width: fit-content;
  color: var(--txt-main-clr);
  text-underline-offset: 0.2em;
  text-decoration: underline 0.15em;
  text-decoration-color: transparent;
  transition: all 200ms ease-in-out;
}

.link:hover {
  color: var(--rugged);
  transform: scale(1.025);
  text-decoration-color: var(--rugged);
}
.activeLink {
  color: var(--rugged);
  text-underline-offset: 0.2em;
  text-decoration: underline 0.15em;
  text-decoration-color: var(--rugged);
  transition: all 200ms ease-in-out;
}
.activeLink:hover {
  transform: scale(1.025);
}
