.footer {
  display: grid;
  place-content: center;
  height: var(--header-footer-height);
  position: sticky;
  top: 100%;
  background-color: var(--secondary-bg-clr);
  color: var(--txt-alter-clr);
}

.footerTxt {
  font-size: 0.875rem;
  font-weight: var(--fw-500);
}
