#root {
  width: 34.375rem;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--main-bg-clr);
  text-align: start;
}
.container {
  margin-top: var(--base-m);
  margin-bottom: calc(var(--base-m) * 1.5);
  padding-inline: var(--base-inline-p);
}
