:root {
  /* Colors */
  --main-bg-clr: #fff7ed;
  --primary-bg-clr: #ffead0;
  --secondary-bg-clr: #252525;
  --tertiary-bg-clr: #ffcc8d;
  --btn-main: #ff8c38;
  --simple: #e17654;
  --rugged: #161616;
  --luxury: #115e59;

  /* Font related */
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --txt-main-clr: #4d4d4d;
  --txt-alter-clr: #fff;
  --txt-tertiary-clr: #aaaaaa;

  /* Borders */
  --small-border: 0.45rem;
  /* Transitions */
  --short-trs: 200ms;

  /* Margins & Paddings  & Gaps*/
  --base-gap: 1.75rem;
  --base-m: 2.5rem;
  --base-inline-p: 1.5rem;
  --base-vertical-p: 3.123rem;
}
